@model allpax_service_record.Models.RegisterViewModel
@*@model allpax_service_record.Models.View_Models.vm_userAcctInfo*@
@{
    ViewBag.Title = "Register";
}

<head>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/underscore@1.11.0/underscore-min.js"></script>

    <style>

        #userData_container {
            padding-bottom: 5px;
        }

        .container {
            border: 1px solid black;
        }

        .fullName_div, .shortName_div, .userName_div, .email_div, .button_div, .admin_div, .active_div, .state_div {
            border-top: 1px solid black;
            border-left: 1px solid black;
            padding: 5px;
        }

        /*ONLY THE LAST COLUMN HAS a RIGHT BORDER*/
        .button_div {
            border-right: 1px solid black;
        }

        .row {
            border: none;
            padding-left: 5px;
            padding-right: 5px;
        }

        .admin_div, .active_div {
            text-align: center
        }

        /*AN INVISIBLE HORIZONTAL SPACE*/
        .sectionSeparator {
            margin: 1px;
            opacity: 0;
        }
    </style>
    <script>
        $(document).ready(function () {//begin document read jquery statements

            //determine the screen size on load
            fn_checkScreenSize();
      
            $('#userEditForm').on('show.bs.modal', function (event) {
                console.clear();

                var button = $(event.relatedTarget) // Button that triggered the modal
                var temp_aspNetId = button.data('asp-net-id') // Extract info from data-* attributes
                var temp_fullName = button.data('full-name') // Extract info from data-* attributes
                var temp_shortName = button.data('short-name') // Extract info from data-* attributes
                var temp_userName = button.data('user-name') // Extract info from data-* attributes
                var temp_email = button.data('email') // Extract info from data-* attributes
                var temp_admin = button.data('admin') // Extract info from data-* attributes
                var temp_active = button.data('active') // Extract info from data-* attributes

                var modal = $(this)
                modal.find('.modal-title').text('User Edit Form')
                modal.find('.asp-net-id').val(temp_aspNetId)
                modal.find('.full-name').val(temp_fullName)
                modal.find('.short-name').val(temp_shortName)
                modal.find('.user-name').val(temp_userName)
                modal.find('.email').val(temp_email)
                modal.find('.admin').val(temp_admin)
                modal.find('.active').val(temp_active)
                console.log("temp_aspNetId: " + temp_aspNetId)
                console.log("temp_admin: " + temp_admin)
                console.log("temp_active: " + temp_active)

                if (temp_admin == "True") {
                    console.log("temp_admin is true.")
                    modal.find('.admin').prop('checked', true);
                }
                else {
                    modal.find('.admin').prop('checked', false);
                }

                if (temp_active == "True") {
                    console.log("temp_active is true.")
                    modal.find('.active').prop('checked', true);
                }
                else {
                    modal.find('.active').prop('checked', false);
                }
            })

            $(".userEditForm.btn_save").click(function () {
                console.clear();

                var modal = $(this).parent().parent();

                var temp_aspNetId = modal.find('.asp-net-id').val()
                var temp_fullName = modal.find('.full-name').val()
                var temp_shortName = modal.find('.short-name').val()
                var temp_userName = modal.find('.user-name').val()
                var temp_email = modal.find('.email').val()
                var temp_admin = modal.find('.admin').prop('checked')
                var temp_active = modal.find('.active').prop('checked')

                console.log("Save button was pressed.")
                console.log("temp_aspNetId: " + temp_aspNetId)
                console.log("temp_fullName: " + temp_fullName)
                console.log("temp_shortName: " + temp_shortName)
                console.log("temp_userName: " + temp_userName)
                console.log("temp_email: " + temp_email)
                console.log("temp_admin: " + temp_admin)
                console.log("temp_active: " + temp_active)

                var data = {
                    aspNetId: temp_aspNetId,
                    name: temp_fullName,
                    ShortName: temp_shortName,
                    UserName: temp_userName,
                    Email: temp_email,
                    admin: temp_admin,
                    active: temp_active
                };

                console.log(data);

                fn_showSpinner();

                $.ajax({
                    url: '/Account/UpdateUserAcctInfo',
                    method: 'post',
                    contentType: 'application/json',
                    dataType: 'json',
                    data: JSON.stringify(data),
                    traditional: true,
                    success: function (response) {
                        //console.log(response);
                        window.location.href = response;
                    }
                });
            });

            $(".Btn_delete").click(function () {
                console.clear();

                var currentRow = $(this).parent().parent();
                var temp_aspNetId = currentRow.find('.aspNetId_div').html()
                var temp_userName = currentRow.find('.userName_div').html()

                console.log("Delete button was pressed.")
                console.log("temp_aspNetId: " + temp_aspNetId)

                var data = {
                    aspNetId: temp_aspNetId,
                };
               
                $.confirm({
                    title: 'Delete User ' + temp_userName + '?',
                    content: '',
                    buttons: {
                        confirm: function () {
                            fn_showSpinner();
                            $.ajax({
                                url: '/Account/DeleteUserAcctInfo',
                                method: 'post',
                                contentType: 'application/json',
                                dataType: 'json',
                                data: JSON.stringify(data),
                                traditional: true,
                                success: function (response) {
                                    //console.log(response);
                                    window.location.href = response;
                                }
                            });
                        },
                        cancel: function () {
                        }
                    }
                });
                
            });

            $(".userNewForm.btn_save").click(function () {
                //fn_showSpinner();
            });

            //set the bottom border of the last row of returned records
            $(".returnedRecords:last div").css('border-bottom', 'solid 1px black');

            //determine the screen size on any change
            $(window).resize(function () {
                fn_checkScreenSize();
            });

            function fn_checkScreenSize() {

                //this is the monitor size
                if ($(window).width() >= 992) {
                    $(".fullName_div").css('border-right', 'none');
                    $(".shortName_div").css('border-right', 'none');
                    $(".userName_div").css('border-right', 'none');
                    $(".email_div").css('border-right', 'none');
                    $(".admin_div").css('border-right', 'none');
                    $(".active_div").css('border-right', 'none');
                    $(".button_div").css('border-bottom', 'none');

                    $(".returnedRecords:last div").css('border-bottom', 'solid 1px black');

                    $("#header_userData").show();

                    $("hr.mobile").hide();
                    $("hr.mobile").attr("hidden", "true");
                }
                //this and below are the mobile sizes
                else if ($(window).width() < 992) {
                    $(".fullName_div").css('border-right', 'solid 1px black');
                    $(".shortName_div").css('border-right', 'solid 1px black');
                    $(".userName_div").css('border-right', 'solid 1px black');
                    $(".email_div").css('border-right', 'solid 1px black');
                    $(".admin_div").css('border-right', 'solid 1px black');
                    $(".active_div").css('border-right', 'solid 1px black');
                    

                    $(".returnedRecords:last div").css('border-bottom', 'none');
                    $(".button_div").css('border-bottom', 'solid 1px black');

                    $("#header_userData").hide();

                    $("hr.mobile").show();
                    $("hr.mobile").removeAttr("hidden");
                }
            }

            function fn_showSpinner() {
                $.LoadingOverlay("show", {
                    image: "",
                    fontawesome: "fa fa-cog fa-spin"
                });

                //$('#saveAndExit_btn, #saveAndSubmit_btn').attr('disabled', 'disabled');
            }

            $('.short-name').keyup(function () {
                $(this).val($(this).val().toUpperCase());
            });

        });//end document read jquery statements
    </script>
</head>

@*BEGIN USER SECTION*@
<hr class="sectionSeparator">
<div class="col-12" style="padding:0px;">
    <span><strong>Register a New User</strong></span>
    <span>
        <button class="btn btn-light btn-sm" data-toggle="modal" data-target="#userNewForm">
            <i class="far fa-plus-square fa-2x" style="color:black;"></i>
        </button>
    </span>
</div>
<hr class="sectionSeparator">
<div class="container-fluid" id="userData_container">
    <div class="row" id="header_userData">
        <div class="col-lg-2 fullName_hdr" style="padding:5px">
            <strong>Full Name</strong>
        </div>
        <div class="col-lg-2 shortName_hdr" style="padding:5px">
            <strong>Short Name</strong>
        </div>
        <div class="col-lg-2 userName_hdr" style="padding:5px">
            <strong>User Name</strong>
        </div>
        <div class="col-lg-2 email_hdr" style="padding:5px">
            <strong>E-mail</strong>
        </div>
        <div class="col-lg-1 admin_hdr" style="padding:5px">
            <strong>Admin</strong>
        </div>
        <div class="col-lg-1 active_hdr" style="padding:5px">
            <strong>Active</strong>
        </div>
        <div class="col-lg-2 button_hdr" style="padding:5px">
            <strong>Action</strong>
        </div>
    </div>

    @*BEGIN RETURNED RECORDS*@
    @foreach (var item in Model.userAcctInfo)
    {
        //BEGIN TEMPORARY LOOP VARIABLES
        string temp_aspNetId = item.aspNetId;
        string temp_name = item.name;
        string temp_shortName = item.ShortName;
        string temp_userName = item.UserName;
        string temp_email = item.Email;
        bool temp_admin = item.admin;
        bool temp_active = item.active;
        //END TEMPORARY LOOP VARIABLES

        @*<hr class="sectionSeparator">*@
        <div class=" row returnedRecords" id="" data-time-Entry-ID="" style="">
            <div class="col-lg-2 aspNetId_div" id="" contenteditable="false" style="" hidden>@temp_aspNetId</div>
            <div class="col-lg-2 fullName_div" id="" contenteditable="false" style="">@temp_name</div>
            <div class="col-lg-2 shortName_div" id="" contenteditable="false" style="">@temp_shortName</div>
            <div class="col-lg-2 userName_div" id="" contenteditable="false" style="">@temp_userName</div>
            <div class="col-lg-2 email_div" id="" contenteditable="false" style="">@temp_email</div>
            <div class="col-lg-1 admin_div" style="padding:0px;">
                @if (temp_admin)
                {
                    <i class="fas fa-check-circle fa-2x" style="color:lawngreen;"></i>
                }
                else
                {
                    <i class="fas fa-check-circle fa-2x" style="color:red;"></i>
                }
            </div>
            <div class="col-lg-1 active_div" style="padding:0px;">
                @if (temp_active)
                {
                    <i class="fas fa-check-circle fa-2x" style="color:lawngreen;"></i>
                }
                else
                {
                    <i class="fas fa-check-circle fa-2x" style="color:red;"></i>
                }
            </div>

            @if (@temp_userName == "admin") {
            <div class="col-lg-2 button_div" style="padding:0px;">
                <button class="btn btn-light btn-sm Btn_edit" data-toggle="modal" data-target="#userEditForm" data-asp-net-id="@temp_aspNetId" data-full-name="@temp_name"
                        data-short-name="@temp_shortName" data-user-name="@temp_userName" data-email="@temp_email" data-admin="@temp_admin" data-active="@temp_active" disabled>
                    <i class="far fa-edit fa-2x" style="color:black;">
                    </i>
                </button>
                <button class="btn btn-light btn-sm Btn_delete" disabled><i class="far fa-minus-square fa-2x" style="color: black;"></i></button>
            </div>    
            }
            else {
            <div class="col-lg-2 button_div" style="padding:0px;">
                <button class="btn btn-light btn-sm Btn_edit" data-toggle="modal" data-target="#userEditForm" data-asp-net-id="@temp_aspNetId" data-full-name="@temp_name"
                        data-short-name="@temp_shortName" data-user-name="@temp_userName" data-email="@temp_email" data-admin="@temp_admin" data-active="@temp_active">
                    <i class="far fa-edit fa-2x" style="color:black;">
                    </i>
                </button>
                <button class="btn btn-light btn-sm Btn_delete"><i class="far fa-minus-square fa-2x" style="color: black;"></i></button>
            </div>
            }           
        </div>
        <hr class="mobile" hidden>
    }

    @*END RETURNED RECORDS*@

    @*BEGIN EDIT USER MODAL TEMPLATE*@
    <div class="modal fade" id="userEditForm" tabindex="-1" role="dialog" aria-labelledby="userEditForm" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="userEditForm">Edit user</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <div class="row">
                                <label for="asp-net-id" class="col-form-label" hidden>ASP.net ID:</label>
                                <input type="text" class="form-control asp-net-id" hidden>
                                <div class="col-6">
                                    <label for="full-name" class="col-form-label">Full Name:</label>
                                    <input type="text" class="form-control full-name" maxlength="50">
                                </div>
                                <div class="col-6">
                                    <label for="short-name" class="col-form-label">Short Name:</label>
                                    <input type="text" class="form-control short-name" maxlength="2">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <label for="user-name" class="col-form-label">User Name:</label>
                                    <input type="text" class="form-control user-name" maxlength="16">
                                </div>
                                <div class="col-6">
                                    <label for="email" class="col-form-label">E-mail:</label>
                                    <input type="text" class="form-control email">
                                </div>
                            </div>
                            <div class="row">
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input admin" type="checkbox" value="">
                                <label class="form-check-label" for="">
                                    Administrator
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input active" type="checkbox" value="">
                                <label class="form-check-label" for="">
                                    Active
                                </label>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary userEditForm btn_save">Save</button>
                    <button type="button" class="btn btn-secondary btn_cancel" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    @*END EDIT USER MODAL TEMPLATE*@

    @*BEGIN NEW USER MODAL TEMPLATE*@
    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @*@Html.AntiForgeryToken()*@
        @*@Html.ValidationSummary("", new { @class = "text-danger" })*@

        <div class="modal fade" id="userNewForm" tabindex="-1" role="dialog" aria-labelledby="userNewForm" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="userNewForm">Add User</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary("", new { @class = "text-danger" })
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-6">
                                        <label for="full-name" class="col-form-label">Full Name:</label>
                                        @*<input type="text" class="form-control full-name">*@
                                        @Html.TextBoxFor(m => m.name, new { @class = "form-control full-name", @maxlength = "50" })
                                    </div>
                                    <div class="col-6">
                                        <label for="short-name" class="col-form-label">Short Name:</label>
                                        @*<input type="text" class="form-control short-name">*@
                                        @Html.TextBoxFor(m => m.ShortName, new { @class = "form-control short-name", @maxlength = "2" })
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <label for="user-name" class="col-form-label">User Name:</label>
                                        @*<input type="text" class="form-control user-name">*@
                                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control user-name", @maxlength = "16" })
                                    </div>
                                    <div class="col-6">
                                        <label for="email" class="col-form-label">E-mail:</label>
                                        @*<input type="text" class="form-control email">*@
                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control email" })
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <label for="user-name" class="col-form-label">Password:</label>
                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", @maxlength = "16" })
                                    </div>
                                    <div class="col-6">
                                        <label for="email" class="col-form-label">Confirm Password:</label>
                                        @*<input type="text" class="form-control email">*@
                                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @maxlength = "16" })
                                    </div>
                                </div>
                                <div class="form-check form-check-inline">
                                    @Html.CheckBoxFor(m => m.admin)
                                    <label class="form-check-label" for="">
                                        Administrator
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    @Html.CheckBoxFor(m => m.active)
                                    <label class="form-check-label" for="">
                                        Active
                                    </label>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary userNewForm btn_save" value="Register">Save</button>
                        <button type="button" class="btn btn-secondary btn_cancel" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    }
    @*END EDIT USER MODAL TEMPLATE*@

</div>
@*END USER SECTION*@

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
