@model allpax_service_record.Models.RegisterViewModel
@*@model allpax_service_record.Models.View_Models.vm_userAcctInfo*@
@{
    ViewBag.Title = "Register";
}

<head>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/underscore@1.11.0/underscore-min.js"></script>

    <style>

        #userData_container, #delays_container, #wntyDelays_container {
            padding-bottom: 5px;
        }

        .container {
            border: 1px solid black;
        }

        .fullName_div, .shortName_div, .userName_div, .email_div, .password_div, .confirmPassword_div, .button_div, .admin_div, .active_div, .state_div {
            border-top: 1px solid black;
            border-left: 1px solid black;
            border-bottom: 1px solid black;
            padding: 5px;
        }

        .state_div {
            border-right: 1px solid black;
        }

        .row {
            border: none;
            padding-left: 5px;
            padding-right: 5px;
        }

        /*.entryRow .narr_div, .entryRow .dpdwn_div, .entryRow .hours_div, .entryRow .button_div, .entryRow .state_div {
            border-bottom: 1px solid black;
        }*/

        .sectionSeparator {
            margin: 1px;
            opacity: 0;
        }
    </style>
    <script>
        $(document).ready(function () {//begin document read jquery statements

            fn_enableSelect2();//enable the select2 add-on on page load

            //console.log($(".admin_hdr").width());
            //$(".admin_div").width($(".admin_hdr").width());
            //$(".active_div").width($(".active_hdr").width());

            //alert($(".col-2.fullName_hdr").width());
            //alert($("#admin_hdr").width());
            //alert("Width of div: " + $(".admin_hdr").width());

            //enable the select2 add-on
            function fn_enableSelect2() {
                $('.select2').select2({
                    width: "100%",
                    //width: "80%",
                    closeOnSelect: "false"
                })
            }

            //disable the select2 add-on
            function fn_disableSelect2() {
                $('.Team_dpdwn').select2('destroy')
            }

            $("#saveAndSubmit_btn").click(function () {
            //function fn_submit() {

                var addItem1 = $("#fullName_div").html();
                var addItem2 = $("#shortName_div").html();
                var addItem3 = $("#userName_div").html();
                var addItem4 = $("#email_div").html();
                var addItem5 = $("#password_div").html();
                var addItem6 = $("#confirmPassword_div").html();
                var addItem7 = $("#admin_div").html();
                var addItem8 = $("#active_div").html();

                var data = {
                    name: addItem1,
                    ShortName: addItem2,
                    UserName: addItem3,
                    Email: addItem4,
                    Password: addItem5,
                    ConfirmPassword: addItem6,
                    admin: "true",
                    active: "true"
                };

                console.log(data);

                $.ajax({
                    url: '/Account/RegisterNewUser',
                    //url: '/Account/Register',
                    method: 'post',
                    contentType: 'application/json',
                    dataType: 'json',
                    data: JSON.stringify(data),
                    traditional: true,
                    success: function (response) {

                    }
                });
            });

        });//end document read jquery statements
    </script>
</head>

@*BEGIN USER SECTION*@
<hr class="sectionSeparator">
<div class="container-fluid" id="userData_container">
    <div class="row">
        <div class="col-2 fullName_hdr" style="padding:5px">
            <strong>Full Name</strong>
        </div>
        <div class="col-1 shortName_hdr" style="padding:5px">
            <strong>Short Name</strong>
        </div>
        <div class="col-1 userName_hdr" style="padding:5px">
            <strong>User Name</strong>
        </div>
        <div class="col-2 email_hdr" style="padding:5px">
            <strong>E-mail</strong>
        </div>
        <div class="col-1 password_hdr" style="padding:5px">
            <strong>Password</strong>
        </div>
        <div class="col-1 confirmPassword_hdr" style="padding:5px">
            <strong>Cfrm Password</strong>
        </div>
        <div class="col-1 admin_hdr" style="padding:5px">
            <strong>Admin</strong>
        </div>
        <div class="col-1 active_hdr" style="padding:5px">
            <strong>Active</strong>
        </div>
        <div class="col-1 button_hdr" style="padding:5px">
            <strong>Action</strong>
        </div>
        <div class="col-1 state_hdr" style="padding:5px">
            <strong>State</strong>
        </div>
    </div>
    @*BEGIN NEW USER TEMPLATE*@
    @*@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">*@
            <div class="" id="userLine_template" style="">
                <div class="row entryRow userLine_template_row_active" id="" style="">

                    <div class="col-2 fullName_div" id="fullName_div" contenteditable="true" style="">@*@Html.TextBoxFor(m => m.name, new { @class = "form-control" })*@</div>
                    <div class="col-1 shortName_div" id="shortName_div" contenteditable="true" style="">@*@Html.TextBoxFor(m => m.ShortName, new { @class = "form-control" })*@</div>
                    <div class="col-1 userName_div" id="userName_div" contenteditable="true" style="">@*@Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })*@</div>
                    <div class="col-2 email_div" id="email_div" contenteditable="true" style="">@*@Html.TextBoxFor(m => m.Email, new { @class = "form-control" })*@</div>
                    <div class="col-1 password_div" id="password_div" contenteditable="true" style="">@*@Html.PasswordFor(m => m.Password, new { @class = "form-control" })*@</div>
                    <div class="col-1 confirmPassword_div" id="confirmPassword_div" contenteditable="true" style="">@*@Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })*@</div>
                    <div class="col-1 admin_div" id="admin_div" style="padding:0px;" contenteditable="true">@*@Html.CheckBoxFor(m => m.admin)*@</div>
                    <div class="col-1 active_div" id="active_div" style="padding:0px;" contenteditable="true">@*@Html.CheckBoxFor(m => m.active)*@</div>
                    <div class="col-1 button_div" id="button_div" style="padding:0px;">
                        @*<button id="" type="submit" class="btn btn-light btn-sm Btn_add" value="Register"><i class="far fa-plus-square fa-2x" style="color:black;"></i></button>*@
                        <button id="saveAndSubmit_btn" type="submit" class="btn btn-light btn-sm Btn_add" value=""><i class="far fa-plus-square fa-2x" style="color:black;"></i></button>

                        @*<button id="" class="btn btn-light btn-sm Btn_edit" hidden><i class="far fa-edit fa-2x" style="color:black;"></i></button>
        <button class='btn btn-light btn-sm Btn_save' hidden><i class='far fa-save fa-2x' style='color: black;'></i></button>
        <button class='btn btn-light btn-sm Btn_delete' hidden><i class='far fa-minus-square fa-2x' style='color: black;'></i></button>*@
                    </div>
                    <div class="col-1 state_div" style="padding:0px;">
                        <button id="" class="btn btn-light btn-sm Btn_addedRecord" disabled hidden><i class="far fa-plus-square fa-2x icon_addedRecord"></i></button>
                    </div>
                </div>

                @*<div class="row entryRow userLine_template_row_hidden" id="" style="" hidden>

                    <div class="col-2 fullName_div" id="" contenteditable="false" style="">@Html.TextBoxFor(m => m.name, new { @class = "form-control" })</div>
                    <div class="col-1 shortName_div" id="" contenteditable="false" style="">@Html.TextBoxFor(m => m.ShortName, new { @class = "form-control" })</div>
                    <div class="col-1 userName_div" id="" contenteditable="false" style="">@Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })</div>
                    <div class="col-2 email_div" id="" contenteditable="false" style="">@Html.TextBoxFor(m => m.Email, new { @class = "form-control" })</div>
                    <div class="col-1 password_div" id="" contenteditable="false" style="">@Html.PasswordFor(m => m.Password, new { @class = "form-control" })</div>
                    <div class="col-1 confirmPassword_div" id="" contenteditable="false" style="">@Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })</div>
                    <div class="col-1 admin_div" style="padding:0px;">@Html.CheckBoxFor(m => m.admin)</div>
                    <div class="col-1 active_div" style="padding:0px;">@Html.CheckBoxFor(m => m.active)</div>
                    <div class="col-1 button_div" style="padding:0px;">
                        <button id="" type="submit" class="btn btn-light btn-sm Btn_add" value="Register"><i class="far fa-plus-square fa-2x" style="color:black;"></i></button>

                        <button id="" class="btn btn-light btn-sm Btn_edit" hidden><i class="far fa-edit fa-2x" style="color:black;"></i></button>
                        <button class='btn btn-light btn-sm Btn_save' hidden><i class='far fa-save fa-2x' style='color: black;'></i></button>
                        <button class='btn btn-light btn-sm Btn_delete' hidden><i class='far fa-minus-square fa-2x' style='color: black;'></i></button>
                    </div>
                    <div class="col-1 state_div" style="padding:0px;">
                        <button id="" class="btn btn-light btn-sm Btn_addedRecord" disabled hidden><i class="far fa-plus-square fa-2x icon_addedRecord"></i></button>
                    </div>
                </div>*@
            </div>
        @*</div>*@
    @*}*@
    @*END NEW USER TEMPLATE*@

    @*BEGIN RETURNED RECORDS*@
    @foreach (var item in Model.userAcctInfo)
    {
        //BEGIN TEMPORARY LOOP VARIABLES
        string temp_name = item.name;
        string temp_shortName = item.ShortName;
        string temp_userName = item.UserName;
        string temp_email = item.Email;
        bool temp_admin = item.admin;
        bool temp_active = item.active;
        //END TEMPORARY LOOP VARIABLES

        <hr class="sectionSeparator">
        <div class=" row returnedRecords" id="" data-time-Entry-ID="" style="">
            <div class="col-2 fullName_div" id="" contenteditable="false" style="">@temp_name</div>
            <div class="col-1 shortName_div" id="" contenteditable="false" style="">@temp_shortName</div>
            <div class="col-1 userName_div" id="" contenteditable="false" style="">@temp_userName</div>
            <div class="col-2 email_div" id="" contenteditable="false" style="">@temp_email</div>
            <div class="col-1 password_div" id="" contenteditable="false" style="">N/A</div>
            <div class="col-1 confirmPassword_div" id="" contenteditable="false" style="">N/A</div>
            <div class="col-1 admin_div" style="padding:0px;">
                <select class="select2 admin_dpdwn" id="" aria-hidden="false" disabled>
                    @if (temp_admin)
                    {
                        <option value="1" selected>TRUE</option>
                        <option value="0">FALSE</option>
                    }
                    else
                    {
                        <option value="1">TRUE</option>
                        <option value="0" selected>FALSE</option>
                    }
                </select>
            </div>
            <div class="col-1 active_div" style="padding:0px;">
                <select class="select2 active_dpdwn" id="" aria-hidden="false" disabled>
                    @if (temp_active)
                    {
                        <option value="1" selected>TRUE</option>
                        <option value="0">FALSE</option>
                    }
                    else
                    {
                        <option value="1">TRUE</option>
                        <option value="0" selected>FALSE</option>
                    }
                </select>
            </div>
            <div class="col-1 button_div" style="padding:0px;">
                <button id="" class="btn btn-light btn-sm Btn_edit" style=""><i class="far fa-edit fa-2x" style="color:black;"></i></button>
                <button class="btn btn-light btn-sm Btn_save" style="display:none"><i class="far fa-save fa-2x" style="color: black;"></i></button>
                <button class="btn btn-light btn-sm Btn_delete"><i class="far fa-minus-square fa-2x" style="color: black;"></i></button>
            </div>
            <div class="col-1 state_div" style="padding:0px;">
                <button class="btn btn-light btn-sm  Btn_rtndRecord" disabled><i class="fas fa-database fa-2x icon_rtndRecord"></i></button>
                <button class="btn btn-light btn-sm Btn_editedRecord" disabled hidden><i class="far fa-edit fa-2x icon_editedRecord"></i></button>
                <button class="btn btn-light btn-sm Btn_deletedRecord" disabled hidden><i class="far fa-minus-square fa-2x icon_deletedRecord"></i></button>
            </div>
        </div>
    }

    @*END RETURNED RECORDS*@
</div>
@*END USER SECTION*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
