@model allpax_service_record.Models.RegisterViewModel
@*@model allpax_service_record.Models.View_Models.vm_userAcctInfo*@
@{
    ViewBag.Title = "Register";
}

<head>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/underscore@1.11.0/underscore-min.js"></script>

    <style>

        #userData_container, #delays_container, #wntyDelays_container {
            padding-bottom: 5px;
        }

        .container {
            border: 1px solid black;
        }

        .fullName_div, .shortName_div, .userName_div, .email_div, .password_div, .confirmPassword_div, .button_div, .admin_div, .active_div, .state_div {
            border-top: 1px solid black;
            border-left: 1px solid black;
            border-bottom: 1px solid black;
            padding: 5px;
        }

        .button_div {
            border-right: 1px solid black;
        }

        .row {
            border: none;
            padding-left: 5px;
            padding-right: 5px;
        }

        .admin_div, .active_div {
            text-align: center
        }

        /*.entryRow .narr_div, .entryRow .dpdwn_div, .entryRow .hours_div, .entryRow .button_div, .entryRow .state_div {
            border-bottom: 1px solid black;
        }*/

        .sectionSeparator {
            margin: 1px;
            opacity: 0;
        }
    </style>
    <script>
        $(document).ready(function () {//begin document read jquery statements

            fn_enableSelect2();//enable the select2 add-on on page load

            //console.log($(".admin_hdr").width());
            //$(".admin_div").width($(".admin_hdr").width());
            //$(".active_div").width($(".active_hdr").width());

            //alert($(".col-2.fullName_hdr").width());
            //alert($("#admin_hdr").width());
            //alert("Width of div: " + $(".admin_hdr").width());

            //enable the select2 add-on
            function fn_enableSelect2() {
                $('.select2').select2({
                    width: "100%",
                    //width: "80%",
                    closeOnSelect: "false"
                })
            }

            //disable the select2 add-on
            function fn_disableSelect2() {
                $('.Team_dpdwn').select2('destroy')
            }

            $("#saveAndSubmit_btn").click(function () {
            //function fn_submit() {

                var addItem1 = $("#fullName_div").html();
                var addItem2 = $("#shortName_div").html();
                var addItem3 = $("#userName_div").html();
                var addItem4 = $("#email_div").html();
                var addItem5 = $("#password_div").html();
                var addItem6 = $("#confirmPassword_div").html();
                var addItem7 = $("#admin_div").html();
                var addItem8 = $("#active_div").html();

                var data = {
                    name: addItem1,
                    ShortName: addItem2,
                    UserName: addItem3,
                    Email: "noone@nothing.com",
                    Password: "User_1",
                    ConfirmPassword: "User_1",
                    admin: "true",
                    active: "true"
                };

                console.log(data);

                $.ajax({
                    //url: '/Account/RegisterNewUser',
                    url: '/Account/Register',
                    method: 'post',
                    contentType: 'application/json',
                    dataType: 'json',
                    data: JSON.stringify(data),
                    traditional: true,
                    success: function (response) {

                    }
                });
            });

            $('#userEditForm').on('show.bs.modal', function (event) {
                console.clear();

                var button = $(event.relatedTarget) // Button that triggered the modal
                var temp_aspNetId = button.data('asp-net-id') // Extract info from data-* attributes
                var temp_fullName = button.data('full-name') // Extract info from data-* attributes
                var temp_shortName = button.data('short-name') // Extract info from data-* attributes
                var temp_userName = button.data('user-name') // Extract info from data-* attributes
                var temp_email = button.data('email') // Extract info from data-* attributes
                var temp_admin = button.data('admin') // Extract info from data-* attributes
                var temp_active = button.data('active') // Extract info from data-* attributes

                var modal = $(this)
                modal.find('.modal-title').text('User Edit Form')
                modal.find('.asp-net-id').val(temp_aspNetId)
                modal.find('.full-name').val(temp_fullName)
                modal.find('.short-name').val(temp_shortName)
                modal.find('.user-name').val(temp_userName)
                modal.find('.email').val(temp_email)
                modal.find('.admin').val(temp_admin)
                modal.find('.active').val(temp_active)
                console.log("temp_aspNetId: " + temp_aspNetId)
                console.log("temp_admin: " + temp_admin)
                console.log("temp_active: " + temp_active)

                if (temp_admin == "True") {
                    console.log("temp_admin is true.")
                    modal.find('.admin').prop('checked', true);
                }
                else {
                    modal.find('.admin').prop('checked', false);
                }

                if (temp_active == "True") {
                    console.log("temp_active is true.")
                    modal.find('.active').prop('checked', true);
                }
                else {
                    modal.find('.active').prop('checked', false);
                }
            })

            $(".userEditForm.btn_save").click(function () {
                console.clear();

                var modal = $(this).parent().parent();

                var temp_aspNetId = modal.find('.asp-net-id').val()
                var temp_fullName = modal.find('.full-name').val()
                var temp_shortName = modal.find('.short-name').val()
                var temp_userName = modal.find('.user-name').val()
                var temp_email = modal.find('.email').val()
                var temp_admin = modal.find('.admin').prop('checked')
                var temp_active = modal.find('.active').prop('checked')

                console.log("Save button was pressed.")
                console.log("temp_aspNetId: " + temp_aspNetId)
                console.log("temp_fullName: " + temp_fullName)
                console.log("temp_shortName: " + temp_shortName)
                console.log("temp_userName: " + temp_userName)
                console.log("temp_email: " + temp_email)
                console.log("temp_admin: " + temp_admin)
                console.log("temp_active: " + temp_active)

                var data = {
                    aspNetId: temp_aspNetId,
                    name: temp_fullName,
                    ShortName: temp_shortName,
                    UserName: temp_userName,
                    Email: temp_email,
                    admin: temp_admin,
                    active: temp_active
                };

                console.log(data);

                $.ajax({
                    url: '/Account/UpdateUserAcctInfo',
                    method: 'post',
                    contentType: 'application/json',
                    dataType: 'json',
                    data: JSON.stringify(data),
                    traditional: true,
                    success: function (response) {
                        //console.log(response);
                        window.location.href = response;
                    }
                });
            });

            $(".Btn_delete").click(function () {
                console.clear();

                var currentRow = $(this).parent().parent();
                var temp_aspNetId = currentRow.find('.aspNetId_div').html()
                var temp_userName = currentRow.find('.userName_div').html()

                console.log("Delete button was pressed.")
                console.log("temp_aspNetId: " + temp_aspNetId)

                var data = {
                    aspNetId: temp_aspNetId,
                };

                $.confirm({
                    title: 'Delete User ' + temp_userName + '?',
                    content: '',
                    buttons: {
                        confirm: function () {
                            $.ajax({
                                url: '/Account/DeleteUserAcctInfo',
                                method: 'post',
                                contentType: 'application/json',
                                dataType: 'json',
                                data: JSON.stringify(data),
                                traditional: true,
                                success: function (response) {
                                    //console.log(response);
                                    window.location.href = response;
                                }
                            });
                        },
                        cancel: function () {
                        }
                    }
                });
                
            });

        });//end document read jquery statements
    </script>
</head>

@*BEGIN USER SECTION*@
<hr class="sectionSeparator">
<div class="container-fluid" id="userData_container">
    <div class="row">
        <div class="col-2 fullName_hdr" style="padding:5px">
            <strong>Full Name</strong>
        </div>
        <div class="col-1 shortName_hdr" style="padding:5px">
            <strong>Short Name</strong>
        </div>
        <div class="col-1 userName_hdr" style="padding:5px">
            <strong>User Name</strong>
        </div>
        <div class="col-2 email_hdr" style="padding:5px">
            <strong>E-mail</strong>
        </div>
        <div class="col-1 password_hdr" style="padding:5px">
            <strong>Password</strong>
        </div>
        <div class="col-1 confirmPassword_hdr" style="padding:5px">
            <strong>Cfrm Password</strong>
        </div>
        <div class="col-1 admin_hdr" style="padding:5px">
            <strong>Admin</strong>
        </div>
        <div class="col-1 active_hdr" style="padding:5px">
            <strong>Active</strong>
        </div>
        <div class="col-1 button_hdr" style="padding:5px">
            <strong>Action</strong>
        </div>
        @*<div class="col-1 state_hdr" style="padding:5px">
                <strong>State</strong>
            </div>*@
    </div>
    @*BEGIN NEW USER TEMPLATE*@
    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            <div class="" id="userLine_template" style="">
                <div class="row entryRow userLine_template_row_active" id="" style="">
                    <div class="col-2 fullName_div" id="fullName_div" contenteditable="false" style="">@Html.TextBoxFor(m => m.name, new { @class = "form-control" })</div>
                    <div class="col-1 shortName_div" id="shortName_div" contenteditable="false" style="">@Html.TextBoxFor(m => m.ShortName, new { @class = "form-control" })</div>
                    <div class="col-1 userName_div" id="userName_div" contenteditable="false" style="">@Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })</div>
                    <div class="col-2 email_div" id="email_div" contenteditable="false" style="">@Html.TextBoxFor(m => m.Email, new { @class = "form-control" })</div>
                    <div class="col-1 password_div" id="password_div" contenteditable="false" style="">@Html.PasswordFor(m => m.Password, new { @class = "form-control" })</div>
                    <div class="col-1 confirmPassword_div" id="confirmPassword_div" contenteditable="false" style="">@Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })</div>
                    <div class="col-1 admin_div" id="admin_div" style="padding:0px;" contenteditable="false">@Html.CheckBoxFor(m => m.admin)</div>
                    <div class="col-1 active_div" id="active_div" style="padding:0px;" contenteditable="false">@Html.CheckBoxFor(m => m.active)</div>
                    <div class="col-1 button_div" id="button_div" style="padding:0px;">
                        <button type="submit" class="btn btn-light btn-sm Btn_add" value="Register"><i class="far fa-plus-square fa-2x" style="color:black;"></i></button>
                    </div>
                    @*<div class="col-1 state_div" style="padding:0px;">
                        <button class="btn btn-light btn-sm Btn_addedRecord" disabled hidden><i class="far fa-plus-square fa-2x icon_addedRecord"></i></button>
                    </div>*@
                </div>
            </div>
        </div>
    }
    @*END NEW USER TEMPLATE*@

    @*BEGIN RETURNED RECORDS*@
    @foreach (var item in Model.userAcctInfo)
    {
        //BEGIN TEMPORARY LOOP VARIABLES
        string temp_aspNetId = item.aspNetId;
        string temp_name = item.name;
        string temp_shortName = item.ShortName;
        string temp_userName = item.UserName;
        string temp_email = item.Email;
        bool temp_admin = item.admin;
        bool temp_active = item.active;
        //END TEMPORARY LOOP VARIABLES

        <hr class="sectionSeparator">
        <div class=" row returnedRecords" id="" data-time-Entry-ID="" style="">
            <div class="col-2 aspNetId_div" id="" contenteditable="false" style="" hidden>@temp_aspNetId</div>
            <div class="col-2 fullName_div" id="" contenteditable="false" style="">@temp_name</div>
            <div class="col-1 shortName_div" id="" contenteditable="false" style="">@temp_shortName</div>
            <div class="col-1 userName_div" id="" contenteditable="false" style="">@temp_userName</div>
            <div class="col-2 email_div" id="" contenteditable="false" style="">@temp_email</div>
            <div class="col-1 password_div" id="" contenteditable="false" style="">N/A</div>
            <div class="col-1 confirmPassword_div" id="" contenteditable="false" style="">N/A</div>
            <div class="col-1 admin_div" style="padding:0px;">
                @if (temp_admin)
                {
                <i class="fas fa-check-circle fa-2x" style="color:lawngreen;"></i>
                }
                else
                {
            <i class="fas fa-check-circle fa-2x" style="color:red;"></i>
                }
            </div>
            <div class="col-1 active_div" style="padding:0px;">
                @if (temp_active)
                {
                    <i class="fas fa-check-circle fa-2x" style="color:lawngreen;"></i>
                }
                else
                {
                    <i class="fas fa-check-circle fa-2x" style="color:red;"></i>
                }
            </div>
            <div class="col-1 button_div" style="padding:0px;">
                <button id="" class="btn btn-light btn-sm Btn_edit" data-toggle="modal" data-target="#userEditForm" data-asp-net-id="@temp_aspNetId" data-full-name="@temp_name"
                        data-short-name="@temp_shortName" data-user-name="@temp_userName" data-email="@temp_email" data-admin="@temp_admin" data-active="@temp_active">
                    <i class="far fa-edit fa-2x" style="color:black;">
                    </i>
                </button>
                <button class="btn btn-light btn-sm Btn_delete"><i class="far fa-minus-square fa-2x" style="color: black;"></i></button>
            </div>
        </div>
    }

    @*END RETURNED RECORDS*@

    @*BEGIN MODAL TEMPLATE*@
    <div class="modal fade" id="userEditForm" tabindex="-1" role="dialog" aria-labelledby="userEditForm" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="userEditForm">Edit user</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="asp-net-id" class="col-form-label" hidden>ASP.net ID:</label>
                            <input type="text" class="form-control asp-net-id" hidden>
                            <label for="full-name" class="col-form-label">Full Name:</label>
                            <input type="text" class="form-control full-name">
                            <label for="short-name" class="col-form-label">Short Name:</label>
                            <input type="text" class="form-control short-name">
                            <label for="user-name" class="col-form-label">User Name:</label>
                            <input type="text" class="form-control user-name">
                            <label for="email" class="col-form-label">E-mail:</label>
                            <input type="text" class="form-control email">
                            <div class="form-check">
                                <input class="form-check-input admin" type="checkbox" value="">
                                <label class="form-check-label" for="">
                                    Administrator
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input active" type="checkbox" value="">
                                <label class="form-check-label" for="">
                                    Active
                                </label>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary userEditForm btn_save">Save</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    @*BEGIN MODAL TEMPLATE*@

</div>
@*END USER SECTION*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
