@using allpax_service_record.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    ViewBag.ReturnUrl = "/dailyReportAll";
}

<head>
    <script>

    </script>
</head>
        <div class="col-md-6 offset-md-3">
        <div class="row justify-content-center">
            <section id="loginForm">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
                <div class="container" id="">
                    <form>
                        <div class="row">
                            <h4>Customer Service Records Login</h4>
                        </div>
                            <div class="row">
                                <div class="md-col-6" style="padding:5px">
                                    <img src="~/assets/images/service_icon.png" width="200" alt="" class="img-fluid">
                                </div>
                                <div class="md-col-6" style="padding:5px">
                                    @Html.AntiForgeryToken()
                                    @*<h4>Customer Service Records Login</h4>*@
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.UserName, new { @class = "col-md-6 control-label" })
                                        <div class="col-md-10">
                                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Password, new { @class = "col-md-6 control-label" })
                                        <div class="col-md-10">
                                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-12">
                                            <input id="inputSubmit" type="submit" value="Log in" class="btn btn-default" />
                                            @Html.CheckBoxFor(m => m.RememberMe)
                                            @Html.LabelFor(m => m.RememberMe)
                                        </div>
                                        @*<div class="col-md-offset-2 col-md-10">
                            @Html.ActionLink("Forgot your password?", "ForgotPassword")
                        </div>*@
                                    </div>
                                </div>
                            </div>



                    </form>
                </div>
                        }
            </section>
        </div>
        </div>
    
            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
            }
