@model IEnumerable<allpax_service_record.Models.tbl_resourceTypes>
@{
    ViewBag.Title = "Resource Types";
}

<head>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/underscore@1.11.0/underscore-min.js"></script>

    <style>

        /*.breadcrumb {
            background-color: transparent;
            padding: 0px;
        }*/

        /*AN INVISIBLE HORIZONTAL SPACE*/
        .sectionSeparator {
            margin: 1px;
            opacity: 0;
        }

        table {
            table-layout: auto !important;
        }

        thead th, tbody td, tfoot td, tfoot th {
            /*width: auto !important;*/
            white-space: nowrap;
        }

         th.th_description {
            width: 15%;
        }

        th.th_resourceType, th.th_action, th.th_rate {
            width: 10%;
        }

        #resourceData_container {
            position: relative;
            width: 40%;
            margin: 0 auto;
            height: calc(100vh - 150px);
            overflow: auto;
        }

        #resourceData_cntr_hdr {
            position: relative;
            width: 40%;
            margin: 0 auto;
            overflow: auto;
        }

        /*BEGIN CHANGE LAYOUT FOR MOBILE*/
        @@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {

            #resourceData_container {
                width: 100%;
            }

            /* Force table to not be like tables anymore */
            table, thead, tbody, th, td, tr {
                display: block;
            }
                /* Hide table headers (but not display: none;, for accessibility) */
                thead tr {
                    position: absolute;
                    top: -9999px;
                    left: -9999px;
                }

            tr {
                border: 1px solid #ccc;
            }

            td {
                /* Behave  like a "row" */
                border: none;
                border-bottom: 1px solid #eee;
                position: relative;
                padding-left: 50%;
            }

                td:before {
                    /* Now like a table header */
                    position: absolute;
                    /* Top/left values mimic padding */
                    top: 6px;
                    left: 6px;
                    width: 45%;
                    padding-right: 10px;
                    white-space: nowrap;
                }
            /*END CHANGE LAYOUT FOR MOBILE*/
        }
    </style>
    <script>
        $(document).ready(function () {//begin document read jquery statements

            fn_navBarUpdate();

            //////////////////BEGIN THE COMMON NEW RESOURCE TYPE AND EDIT RESOURCE TYPE MODAL SECTION

            //////////////////END THE COMMON NEW RESOURCE TYPE AND EDIT RESOURCE TYPE MODAL SECTION

            //////////////////BEGIN THE NEW RESOURCE TYPE MODAL SECTION

            //reset the new job modal for new inputs
            function fn_resetModalForm(modalID) {

               var allTextInputs = $(modalID).find("input:text");

               $(allTextInputs).val('');//reset text boxes
            }

            $('#resourceNewForm').on('show.bs.modal', function (event) {

                fn_resetModalForm("#resourceNewForm");//reset the modal for new inputs
            })

            $(".resourceNewForm.btn_save").click(function () {

                //if all inputs for this modal are valid...
                if (fn_modalValidate($(this))) {

                    var modal = $(this).parent().parent();
                    var temp_resourceTypeID = modal.find('.resource-type-id').val();
                    var temp_resourceType = modal.find('.resource-type').val();
                    var temp_description = modal.find('.description').val();
                    var temp_rate = modal.find('.rate').val()

                    var data = {
                        resourceTypeID: 'null',
                        resourceType: temp_resourceType,
                        description: temp_description,
                        rate: temp_rate
                    };

                    fn_showSpinner();//display the spinner to demonstrate an operation is underway
                    $.ajax({
                        url: '/ResourceTypes/AddResourceType',
                        method: 'post',
                        contentType: 'application/json',
                        dataType: 'json',
                        data: JSON.stringify(data),
                        traditional: true,
                        //if successful, redirect the page returned by the controller
                        success: function (response) {
                            window.location.href = response;
                        },
                        //if un-successful...
                        error: function (response) {
                            fn_hideSpinner();//hide spinner

                            //build an error string based on the error returned from the controller...
                            var alertContent = "An error has occurred.";

                            //and display that error in an alert box
                            $.alert({
                                title: 'Alert!',
                                content: alertContent,
                            });
                        }
                    });
                }
            });

            //////////////////END THE NEW RESOURCE TYPE MODAL SECTION

            //////////////////BEGIN THE EDIT RESOURCE TYPE MODAL SECTION

            $('#resourceEditForm').on('show.bs.modal', function (event) {

                var button = $(event.relatedTarget) // Button that triggered the modal
                var temp_resourceTypeID = button.data('resource-type-id') // Extract info from data-* attributes
                var temp_resourceType = button.data('resource-type') // Extract info from data-* attributes
                var temp_description = button.data('description') // Extract info from data-* attributes
                var temp_rate = button.data('rate') // Extract info from data-* attributes

                var modal = $(this)
                modal.find('.modal-title').text('Resource Edit Form');
                modal.find('.resource-type-id').val(temp_resourceTypeID);
                modal.find('.resource-type').val(temp_resourceType);
                modal.find('.description').val(temp_description);
                modal.find('.rate').val(temp_rate);
            })

            //Begin when the save button on the edit resource type modal is pressed
            $(".resourceEditForm.btn_save").click(function () {

                //if all inputs for this modal are valid...
                if (fn_modalValidate($(this))) {

                    var modal = $(this).parent().parent();
                    var temp_resourceTypeID = modal.find('.resource-type-id').val()
                    var temp_resourceType = modal.find('.resource-type').val()
                    var temp_description = modal.find('.description').val()
                    var temp_rate = modal.find('.rate').val()

                    var data = {
                        resourceTypeID: temp_resourceTypeID,
                        resourceType: temp_resourceType,
                        description: temp_description,
                        rate: temp_rate
                    };

                    fn_showSpinner();//display the spinner to demonstrate an operation is underway
                    $.ajax({
                        url: '/ResourceTypes/UpdateResourceType',
                        method: 'post',
                        contentType: 'application/json',
                        dataType: 'json',
                        data: JSON.stringify(data),
                        traditional: true,
                        //if successful, redirect the page returned by the controller
                        success: function (response) {
                            window.location.href = response;
                        },
                        //if un-successful...
                        error: function (response) {
                            fn_hideSpinner();//hide the spinner

                            //build an error string based on the error returned from the controller...
                            var alertContent = "An error has occurred.";

                            //and display that error in an alert box
                            $.alert({
                                title: 'Alert!',
                                content: alertContent,
                            });
                        }
                    });
                }
            });

            $(".resourceEditForm.btn_delete").click(function () {

                var modal = $(this).parent().parent().parent();
                var temp_resourceTypeID = modal.find('.resource-type-id').val();
                var temp_resourceType = modal.find('.resource-type').val();
                var temp_description = modal.find('.description').val();
                var temp_rate = modal.find('.rate').val();

                var data = {
                    resourceTypeID: temp_resourceTypeID,
                };

                $.confirm({
                    title: 'Delete Resource ' + temp_resourceType + ': ' + temp_description + '?',
                    content: '',
                    buttons: {
                        confirm: function () {
                            fn_showSpinner();//display the spinner to demonstrate an operation is underway
                            $.ajax({
                                url: '/ResourceTypes/DeleteResourceType',
                                method: 'post',
                                contentType: 'application/json',
                                dataType: 'json',
                                data: JSON.stringify(data),
                                traditional: true,
                                //if successful, redirect the page returned by the controller
                                success: function (response) {
                                    window.location.href = response;
                                },
                                //if un-successful...
                                error: function (response) {
                                    fn_hideSpinner();//hide the spinner

                                    //build an error string based on the error returned from the controller...
                                    var alertContent = "An error has occurred.";

                                    //and display that error in an alert box
                                    $.alert({
                                        title: 'Alert!',
                                        content: alertContent,
                                    });
                                }
                            });
                        },
                        cancel: function () {
                        }
                    }
                });
            });

            //////////////////END THE EDIT RESOURCE TYPE MODAL SECTION

            //////////////////BEGIN RETURNED RECORDS SECTION

            $(".returnedRecords .Btn_delete").click(function () {

                var currentRow = $(this).parent().parent();
                var temp_resourceTypeID = currentRow.find('.resourceTypeID_div').html();
                var temp_resourceType = currentRow.find('.resourceType_div').html();
                var temp_description = currentRow.find('.description_div').html();

                var data = {
                    resourceTypeID: temp_resourceTypeID,
                };

                $.confirm({
                    title: 'Delete Resource ' + temp_resourceType + ":" + temp_description + '?',
                    content: '',
                    buttons: {
                        confirm: function () {
                            fn_showSpinner();//display the spinner to demonstrate an operation is underway
                            $.ajax({
                                url: '/ResourceTypes/DeleteResourceType',
                                method: 'post',
                                contentType: 'application/json',
                                dataType: 'json',
                                data: JSON.stringify(data),
                                traditional: true,
                                //if successful, redirect the page returned by the controller
                                success: function (response) {
                                    window.location.href = response;
                                },
                                //if un-successful...
                                error: function (response) {
                                    fn_hideSpinner();//hide the spinner

                                    //build an error string based on the error returned from the controller...
                                    var alertContent = "An error has occurred.";

                                    //and display that error in an alert box
                                    $.alert({
                                        title: 'Alert!',
                                        content: alertContent,
                                    });
                                }
                            });
                        },
                        cancel: function () {
                        }
                    }
                });
            });

            //////////////////END RETURNED RECORDS SECTION

            //////////////////BEGIN MISCELLANEOUS SECTION

            function fn_showSpinner() {
                $.LoadingOverlay("show", {
                    image: "",
                    fontawesome: "fa fa-cog fa-spin"
                });
            }

            function fn_hideSpinner() {
                $.LoadingOverlay("hide");
            }

            $('.resource-type, .description').keyup(function () {
                $(this).val($(this).val().toUpperCase());
            });

            function fn_modalValidate(button) {
                var currentRow = button.parent().parent();
                var modalValid = true;
                var temp_resourceType = currentRow.find(".resource-type").val();
                var temp_description = currentRow.find(".description").val();
                var temp_rate = currentRow.find(".rate").val();

                var temp_resourceTypeMatch = temp_resourceType.match(/(.*[A-Z]){2,}/);//maches the form two or more letters
                var temp_descriptionMatch = temp_description.match(/(.*[A-Z]){3,}/);//maches the form three or more letters
                //var temp_rateMatch = temp_rate.match(/^(\d{1,3})\.(00)$/);//maches the form 125.00
                var temp_rateMatch = temp_rate.match(/^(\d{1,4})\.(00)$/);//maches the form 9999.00

                if (!temp_resourceTypeMatch) {
                    $.alert({
                        title: 'Error!',
                        content: 'Resource type must not be empty and begin with at least 3 capital letters.',
                    });
                    modalValid = false;
                    return modalValid;
                }

                if (!temp_descriptionMatch) {
                    $.alert({
                        title: 'Error!',
                        content: 'Description must not be empty and contain at least 3 capital letters.',
                    });
                    modalValid = false;
                    return modalValid;
                }

                if (!temp_rateMatch) {
                    $.alert({
                        title: 'Error!',
                        content: 'Charge rate must not be empty and be of the form #.## - ####.##.',
                    });
                    modalValid = false;
                    return modalValid;
                }
                return modalValid;
            }

            function fn_navBarUpdate() {
                $(".nav-item").css('border', 'none');
                $(".nav-item.adminTasks").css('border', '1px solid grey');
            }

            //////////////////END MISCELLANEOUS SECTION

        });//end document read jquery statements
    </script>
</head>
@*BEGIN RESOURCE SECTION*@
<hr class="sectionSeparator">
<div class="" id="resourceData_cntr_hdr">
    <div class="col-12" style="padding:0px;">
        <h2>
            <span>
                <strong>Resource Management</strong>
                <button class="btn btn-light btn-sm" data-toggle="modal" data-target="#resourceNewForm">
                    <i class="far fa-plus-square fa-2x" style="color:black;"></i>
                </button>
            </span>
        </h2>
    </div>
</div>
<div class="" id="resourceData_container">
    <div class="table-responsive">
        <table id="dt_resourceData" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th class="th_resourceType">
                        <span>Resource Type</span>
                    </th>
                    <th class="th_description">
                        Description
                    </th>
                    <th class="th_rate">
                        Rate
                    </th>
                    <th class="th_action">
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
                @*BEGIN RETURNED RECORDS*@
                @foreach (var item in Model)
                {
                    //BEGIN TEMPORARY LOOP VARIABLES
                    byte temp_resourceTypeID = item.resourceTypeID;
                    string temp_resourceType = item.resourceType;
                    string temp_description = item.description;
                    decimal temp_rate = item.rate;
                    //END TEMPORARY LOOP VARIABLES

                    @*<hr class="sectionSeparator">*@
                    <tr class="returnedRecords" id="" style="">
                        <td class="resourceTypeID_div" hidden>@temp_resourceTypeID</td>
                        <td class="resourceType_div">@temp_resourceType</td>
                        <td class="description_div">@temp_description</td>
                        <td class="rate_div">@temp_rate</td>
                        <td class="button_div" style="padding:0px;">
                            <button class="btn btn-light btn-sm Btn_edit" data-toggle="modal" data-target="#resourceEditForm" data-resource-type-id="@temp_resourceTypeID"
                                    data-resource-type="@temp_resourceType" data-description="@temp_description" data-rate="@temp_rate">
                                <i class="far fa-edit fa-2x" style="color:black;">
                                </i>
                            </button>
                            <button class="btn btn-light btn-sm Btn_delete"><i class="far fa-minus-square fa-2x" style="color: black;"></i></button>
                        </td>
                    </tr>
                }
                @*END RETURNED RECORDS*@
            </tbody>
        </table>
    </div>
</div>
@*BEGIN EDIT RESOURCE MODAL TEMPLATE*@
<div class="modal fade" id="resourceEditForm" tabindex="-1" role="dialog" aria-labelledby="resourceEditForm" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="float-left">
                    <h5 class="modal-title" id="resourceEditForm">Edit Resource</h5>
                </div>
                <div class="float-none">
                    <button type="button" class="btn btn-light btn-sm resourceEditForm" data-toggle="modal" data-target="#resourceNewForm"><i class="far fa-plus-square fa-2x" style="color:black;"></i></button>
                    <button type="button" class="btn btn-light btn-sm resourceEditForm btn_delete"><i class="far fa-minus-square fa-2x" style="color: black;"></i></button>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
            <div class="modal-body">
                <form>
                    <div class="validation-summary-valid text-danger" data-valmsg-summary="true">
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-6">
                                <label for="resource-type" class="col-form-label">Resource Type:</label>
                                <input type="text" class="form-control resource-type" maxlength="50">
                            </div>
                            <div class="col-6">
                                <label for="description" class="col-form-label">Description:</label>
                                <input type="text" class="form-control description">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <label for="rate" class="col-form-label">Rate:</label>
                                <input type="text" class="form-control rate">
                                <label for="resource-type-id" class="col-form-label" hidden>Resource Type ID:</label>
                                <input type="text" class="form-control resource-type-id" maxlength="3" hidden>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn resourceEditForm btn_save" value="">Save</button>
                <button type="button" class="btn btn_cancel" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
@*END EDIT RESOURCE MODAL TEMPLATE*@

@*BEGIN NEW RESOURCE MODAL TEMPLATE*@
<div class="modal fade" id="resourceNewForm" tabindex="-1" role="dialog" aria-labelledby="resourceNewForm" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="resourceNewForm">Add Resource</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="validation-summary-valid text-danger" data-valmsg-summary="true">
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-6">
                                <label for="resource-type" class="col-form-label">Resource Type:</label>
                                <input type="text" class="form-control resource-type" maxlength="50">
                            </div>
                            <div class="col-6">
                                <label for="description" class="col-form-label">Description:</label>
                                <input type="text" class="form-control description">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <label for="rate" class="col-form-label">Rate:</label>
                                <input type="text" class="form-control rate">                               
                            </div>
                            <div class="col-6">
                                <label for="resource-type-id" class="col-form-label" hidden>Resource Type ID:</label>
                                <input type="text" class="form-control resource-type-id" maxlength="3" hidden>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn resourceNewForm btn_save" value="">Save</button>
                <button type="button" class="btn btn_cancel" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
@*END NEW RESOURCE MODAL TEMPLATE*@
@*END RESOURCE SECTION*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
