@model IEnumerable<allpax_service_record.Models.tbl_Jobs>

@{
    ViewBag.Title = "Jobs";
}

<head>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/underscore@1.11.0/underscore-min.js"></script>

    <style>

        .active_div {
            text-align: center
        }

        /*AN INVISIBLE HORIZONTAL SPACE*/
        .sectionSeparator {
            margin: 1px;
            opacity: 0;
        }

        table {
            table-layout: auto !important;
        }

        thead th, tbody td, tfoot td, tfoot th {
            /*width: auto !important;*/
            white-space: nowrap;
        }

        /*html, body {
            height: 100%;
        }*/

        #table_div {
            height: 300px;
            width: 100%;
            background-color: powderblue;
            overflow: auto;
        }

        @@media (min-width: 992px) {
          .modal-dialog {
            max-width: 70%;
          }
        }

        /*BEGIN CHANGE LAYOUT FOR MOBILE*/
        @@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
            /* Force table to not be like tables anymore */
            table, thead, tbody, th, td, tr {
                display: block;
            }
                /* Hide table headers (but not display: none;, for accessibility) */
                thead tr {
                    position: absolute;
                    top: -9999px;
                    left: -9999px;
                }

            tr {
                border: 1px solid #ccc;
            }

            td {
                /* Behave  like a "row" */
                border: none;
                border-bottom: 1px solid #eee;
                position: relative;
                padding-left: 50%;
            }

                td:before {
                    /* Now like a table header */
                    position: absolute;
                    /* Top/left values mimic padding */
                    top: 6px;
                    left: 6px;
                    width: 45%;
                    padding-right: 10px;
                    white-space: nowrap;
                }
            /*END CHANGE LAYOUT FOR MOBILE*/
        }
    </style>
    <script>
        $(document).ready(function () {//begin document read jquery statements

            fn_enableSelect2();

            var customerCodeNew_dpdwn = $('#customer-code-new');

            $(".jobNewForm.btn_save").click(function () {

                if (fn_rowFilled($(this))) {

                    var modal = $(this).parent().parent();
                    var temp_customerCode = modal.find('.customer-code').val()
                    var temp_customerContact = modal.find('.customer-name').val()
                    var temp_jobDescription = modal.find('.job-description').val()
                    var temp_active = modal.find('.active').val()

                    var data = {
                        customerCode: temp_customerCode,
                        customerContact: temp_customerContact,
                        jobDescription: temp_jobDescription,
                        active: temp_active
                    };

                fn_showSpinner();

                $.ajax({
                    url: '/Customers/AddCustomer',
                    method: 'post',
                    contentType: 'application/json',
                    dataType: 'json',
                    data: JSON.stringify(data),
                    traditional: true,
                    success: function (response) {
                        window.location.href = response;
                    },
                    error: function (response) {
                        console.log("an error!");
                        $(response).each(function (index, item) {
                            console.log(item.name)
                        });
                    }
                });
                }
            });

            $('#jobEditForm').on('show.bs.modal', function (event) {

                var button = $(event.relatedTarget) // Button that triggered the modal
                var temp_jobID = button.data('job-id') // Extract info from data-* attributes
                var temp_customerCode = button.data('customer-code') // Extract info from data-* attributes
                var temp_customerContact = button.data('customer-contact') // Extract info from data-* attributes
                var temp_jobDescription = button.data('job-description') // Extract info from data-* attributes
                var temp_active = button.data('active') // Extract info from data-* attributes
                var temp_id = button.data('id') // Extract info from data-* attributes

                var modal = $(this)
                modal.find('.modal-title').text('Job Edit Form')
                modal.find('.job-id').val(temp_jobID)
                modal.find('.customer-code').val(temp_customerCode)
                modal.find('.customer-contact').val(temp_customerContact)
                modal.find('.job-description').val(temp_jobDescription)               
                modal.find('.active').val(temp_active)
                modal.find('.id').val(temp_id)

                if (temp_active == "True") {
                    console.log("temp_active is true.")
                    modal.find('.active').prop('checked', true);
                }
                else {
                    modal.find('.active').prop('checked', false);
                }
            })

            $('#jobNewForm').on('show.bs.modal', function (event) {
                //begin fill the jobs dropdown

                var tempCustomerCodeArr = [];

                // get the viewport height
                var viewportHeight = $(window).height();
                console.log('viewportHeight = ' + viewportHeight);

                // get the viewport width
                var viewportWidth = $(window).width();
                console.log('viewportWidth = ' + viewportWidth);

                var modalDialogHeight = $(this).find('.modal-dialog').outerHeight(true);
                console.log('modalDialogHeight = ' + modalDialogHeight);

                var modalDialogWidth = $(this).find('.modal-dialog').outerWidth(true);
                console.log('modalDialogWidth = ' + modalDialogWidth);

                //console.log($(this).find('.modal-content').width())
                //$(this).find('.modal-dialog').css('width', '900px');

                //$('.modal-content').css('width', $(window).width() * 0.8);

                $('.modal .modal-body').css('overflow-y', 'auto');
                $('.modal .modal-body').css('max-height', $(window).height() * 0.9);

                $.ajax({
                    url: 'DataService.asmx/GetCustomerInfoByJobID',
                    method: 'post',
                    dataType: 'json',
                    data: { jobID: '%' },
                    success: function (data) {
                        $(customerCodeNew_dpdwn).empty();
                        $(data).each(function (index, item) {

                            tempCustomerCodeArr.push(item.customerCode);
                            customerCodeNew_dpdwn.append($('<option/>', { value: item.customerCode, text: item.customerCode }));
                            //console.log("customerCode: " + item.customerCode)
                            //console.log("customerName: " + item.customerName)
                            //console.log("address: " + item.address)
                        });
                    }
                });
                //end fill the jobs dropdown
            })

            //begin customer code dropdown change
            customerCodeNew_dpdwn.change(function () {

                var currCustomerCode = $(this).val();
                console.clear();
                $.ajax({
                    url: 'DataService.asmx/GetCustomerInfoByJobID',
                    method: 'post',
                    dataType: 'json',
                    data: { jobID: '%' },
                    success: function (data) {

                        $(data).each(function (index, item) {

                            if (item.customerCode == currCustomerCode) {
                                //console.log("Selected customerCode: " + item.customerCode)
                                //console.log("Selected customerName: " + item.customerName)
                                //console.log("Selected address: " + item.address)
                                $("#customer-name-new").val(item.customerName);
                                $("#customer-location-new").val(item.address);
                            }
                        });
                    }
                });

                console.log($(this).val());
            });
            //end customer code dropdown change

            $(".jobEditForm.btn_save").click(function () {

                if (fn_rowFilled($(this))) {

                    var modal = $(this).parent().parent();
                    var temp_customerCode = modal.find('.customer-code').val()
                    var temp_customerContact = modal.find('.customer-name').val()
                    var temp_jobDescription = modal.find('.job-description').val()
                    var temp_id = modal.find('.id').val()

                    var data = {
                        customerCode: temp_customerCode,
                        customerContact: temp_customerContact,
                        jobDescription: temp_jobDescription,
                        id: temp_id
                    };

                    fn_showSpinner();

                    $.ajax({
                        url: '/Customers/UpdateCustomer',
                        method: 'post',
                        contentType: 'application/json',
                        dataType: 'json',
                        data: JSON.stringify(data),
                        traditional: true,
                        success: function (response) {
                            window.location.href = response;
                        },
                        error: function (response) {
                            console.log("an error!");
                            $(response).each(function (index, item) {

                                //var modelErrors = item.ModelErrors
                                //console.log(item.name)
                                //console.log(item.Email)
                                //console.log(item.ModelErrors)
                                console.log(item.name)
                            });
                        }
                    });
                }
            });

            $(".jobEditForm.btn_delete").click(function () {

                var modal = $(this).parent().parent().parent();
                var temp_customerCode = modal.find('.customer-code').val()
                var temp_customerContact = modal.find('.customer-name').val()

                var data = {
                    customerCode: temp_customerCode,
                };

                fn_showSpinner();

                $.confirm({
                    title: 'Delete Customer ' + temp_customerContact + ': ' + temp_customerCode + '?',
                    content: '',
                    buttons: {
                        confirm: function () {
                            fn_showSpinner();
                            $.ajax({
                                url: '/Customers/DeleteCustomer',
                                method: 'post',
                                contentType: 'application/json',
                                dataType: 'json',
                                data: JSON.stringify(data),
                                traditional: true,
                                success: function (response) {
                                    window.location.href = response;
                                }
                            });
                        },
                        cancel: function () {
                        }
                    }
                });
            });

            $(".returnedRecords .Btn_delete").click(function () {

                var currentRow = $(this).parent().parent();
                var temp_customerCode = currentRow.find('.customerCode_div').html()

                var data = {
                    customerCode: temp_customerCode,
                };

                $.confirm({
                    title: 'Delete Customer ' + temp_customerCode + '?',
                    content: '',
                    buttons: {
                        confirm: function () {
                            fn_showSpinner();
                            $.ajax({
                                url: '/Customers/DeleteCustomer',
                                method: 'post',
                                contentType: 'application/json',
                                dataType: 'json',
                                data: JSON.stringify(data),
                                traditional: true,
                                success: function (response) {
                                    window.location.href = response;
                                }
                            });
                        },
                        cancel: function () {
                        }
                    }
                });
            });

            function fn_showSpinner() {
                $.LoadingOverlay("show", {
                    image: "",
                    fontawesome: "fa fa-cog fa-spin"
                });
            }

            $('.customer-code, .customer-name, .job-description').keyup(function () {
                $(this).val($(this).val().toUpperCase());
            });

            //BEGIN MISCELLANEOUS SECTION

            //enable the select2 add-on
            function fn_enableSelect2() {

                $('#customer-code-new').select2({
                    width: "100%",
                    placeholder: "Select Customer",
                    closeOnSelect: "false"
                })
            }

            //disable the select2 add-on
            function fn_disableSelect2() {
                $('#customer-code-new').select2('destroy')
            }

            //END MISCELLANEOUS SECTION

            //BEGIN VALIDATION BEFORE SAVING SECTION
            function fn_rowFilled(button) {
                var currentRow = button.parent().parent();
                var rowFilled = true;
                var temp_customerCode = currentRow.find(".customer-code").val();
                var temp_customerContact = currentRow.find(".customer-name").val();
                var temp_jobDescription = currentRow.find(".job-description").val();

                var temp_customerCodeMatch = temp_customerCode.match(/^([A-Z]{3})$/);//maches the form ABC
                var temp_jobDescriptionMatch = temp_jobDescription.match(/([A-Za-z ]+), ([A-Za-z]{2}$)/);//maches the form LAS VEGAS, NV

                //if (temp_customerCode.length < 3) {
                if (!temp_customerCodeMatch) {
                    $.alert({
                        title: 'Error!',
                        content: 'Customer code must be at least 3 letters.',
                    });
                    rowFilled = false;
                    return rowFilled;
                }

                if (temp_customerContact.length < 1) {
                    $.alert({
                        title: 'Error!',
                        content: 'Customer name must not be empty.',
                    });
                    rowFilled = false;
                    return rowFilled;
                }

                if (!temp_jobDescriptionMatch) {
                    $.alert({
                        title: 'Error!',
                        content: 'Location must not be empty and must match the form City, ST.',
                    });
                    rowFilled = false;
                    return rowFilled;
                }
                return rowFilled;
            }
            //END VALIDATION BEFORE SAVING SECTION

            //console.log($(window).height());
            //console.log($(window).width());

        });//end document read jquery statements
    </script>
</head>

@*BEGIN USER SECTION*@
<hr class="sectionSeparator">
<div class="col-12" style="padding:0px;">
    <span><strong>Add a New Job</strong></span>
    <span>
        <button class="btn btn-light btn-sm" data-toggle="modal" data-target="#jobNewForm">
            <i class="far fa-plus-square fa-2x" style="color:black;"></i>
        </button>
    </span>
</div>
<hr class="sectionSeparator">
<div class="container" id="customerData_container" style="overflow:auto; height: calc(100vh - 150px)">
    <div class="table-responsive">
        <table id="dt_customerData" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th class="">
                        <span>Job ID</span>
                    </th>
                    <th class="">
                        Customer Code
                    </th>
                    <th class="">
                        Customer Contact
                    </th>
                    <th class="">
                        Work Description
                    </th>
                    <th class="">
                        Active
                    </th>
                    <th class="">
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
                @*BEGIN RETURNED RECORDS*@
                @foreach (var item in Model)
                {
                    //BEGIN TEMPORARY LOOP VARIABLES
                    string temp_jobID = item.jobID;
                    string temp_customerCode = item.customerCode;
                    string temp_customerContact = item.customerContact;
                    string temp_jobDescription = item.description;
                    bool temp_active = item.active;
                    int temp_id = item.id;
                    //END TEMPORARY LOOP VARIABLES

                    @*<hr class="sectionSeparator">*@
                <tr class="returnedRecords" id="" style="">
                    <td class="jobID_div">@temp_jobID</td>
                    <td class="customerCode_div">@temp_customerCode</td>
                    <td class="customerContact_div">@temp_customerContact</td>
                    <td class="jobDescription_div">@temp_jobDescription</td>
                    <td class="active_div">
                        @if (temp_active)
                        {
                            <i class="fas fa-check-circle fa-2x" style="color:lawngreen;"></i>
                        }
                        else
                        {
                            <i class="fas fa-check-circle fa-2x" style="color:red;"></i>
                        }
                    </td>
                    <td class="id_div" hidden>@temp_id</td>
                    <td class="button_div" style="padding:0px;">
                        <button class="btn btn-light btn-sm Btn_edit" data-toggle="modal" data-target="#jobEditForm" data-job-id="@temp_jobID" data-customer-code="@temp_customerCode"
                                data-customer-contact="@temp_customerContact" data-job-description="@temp_jobDescription" data-active="@temp_active" data-id="@temp_id">
                            <i class="far fa-edit fa-2x" style="color:black;">
                            </i>
                        </button>
                        <button class="btn btn-light btn-sm Btn_delete"><i class="far fa-minus-square fa-2x" style="color: black;"></i></button>
                    </td>
                </tr>
                }
                @*END RETURNED RECORDS*@
            </tbody>
        </table>
    </div>
</div>
@*BEGIN EDIT CUSTOMER MODAL TEMPLATE*@
<div class="modal fade" id="jobEditForm" tabindex="-1" role="dialog" aria-labelledby="jobEditForm" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="float-left">
                    <h5 class="modal-title" id="jobEditForm">Edit Job</h5>
                </div>
                <div class="float-none">
                    <button type="button" class="btn btn-light btn-sm jobEditForm" data-toggle="modal" data-target="#jobNewForm"><i class="far fa-plus-square fa-2x" style="color:black;"></i></button>
                    <button type="button" class="btn btn-light btn-sm jobEditForm btn_delete"><i class="far fa-minus-square fa-2x" style="color: black;"></i></button>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-6">
                                <label for="job-id" class="col-form-label">Job ID:</label>
                                <input type="text" class="form-control job-id" maxlength="10">
                                <label for="customer-code" class="col-form-label">Customer Code:</label>
                                <input type="text" class="form-control customer-code" maxlength="3">
                                <label for="customer-name" class="col-form-label">Customer Name:</label>
                                <input type="text" class="form-control customer-name" maxlength="50" disabled value="dead for the db">
                                <label for="customer-location" class="col-form-label">Customer Location:</label>
                                <input type="text" class="form-control customer-location" disabled value="dead for the db">
                                <label for="customer-contact" class="col-form-label">Customer Contact:</label>
                                <input type="text" class="form-control customer-contact">
                            </div>
                            <div class="col-6">
                                <label for="job-id" class="col-form-label">Job ID:</label>
                                <input type="text" class="form-control job-id" maxlength="3">
                                <label for="normal-hours-start" class="col-form-label">Normal Hours Start:</label>
                                <input type="time" class="form-control normal-hours-start">
                                <label for="normal-hours-end" class="col-form-label">Normal Hours End:</label>
                                <input type="time" class="form-control normal-hours-end">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <label for="job-description" class="col-form-label">Job Description:</label>
                                <input type="text" class="form-control job-description" maxlength="50">                               
                            </div>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input active" type="checkbox" value="">
                            <label class="form-check-label" for="">
                                Job Active
                            </label>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn jobEditForm btn_save" value="">Save</button>
                <button type="button" class="btn btn_cancel" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
@*END EDIT CUSTOMER MODAL TEMPLATE*@

@*BEGIN NEW CUSTOMER MODAL TEMPLATE*@
<div class="modal fade" id="jobNewForm" tabindex="-1" role="dialog" aria-labelledby="jobNewForm" aria-hidden="true">
    <div class="modal-dialog modal-lg" id="" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="jobNewForm">Add Job</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    @*<div class="form-group">
            <div class="row">
                <div class="col-12">
                    <label for="job-id" class="col-form-label">Job ID:</label>
                    <input type="text" class="form-control job-id" maxlength="10">
                    <label for="customer-code" class="col-form-label">Customer Code:</label>
                    <input type="text" class="form-control customer-code" maxlength="3">
                    <select class="customer-code" id="customer-code-new">
                        <option value="AL">Alabama</option>
                        <option value="WY">Wyoming</option>
                    </select>
                    <label for="customer-name" class="col-form-label">Customer Name:</label>
                    <input type="text" class="form-control customer-name" id="customer-name-new"
                           maxlength="50" disabled value="">
                    <label for="customer-location" class="col-form-label">Customer Location:</label>
                    <input type="text" class="form-control customer-location" id="customer-location-new"
                           disabled value="">
                    <label for="customer-contact" class="col-form-label">Customer Contact:</label>
                    <input type="text" class="form-control customer-contact">
                </div>
                <div class="col-6">
                    <label>Checkboxes</label>
                    <div class="col-8">
                        <div class="custom-control custom-checkbox custom-control-inline">
                            <label>Checkboxes</label>
                            <input name="checkbox" id="checkbox_0" type="checkbox" checked="checked"
                                   class="custom-control-input" value="rabbit">
                            <label for="checkbox_0" class="custom-control-label">Rabbit</label>
                        </div>
                    </div>
                    <label for="normal-hours-start" class="col-form-label">Normal Hours Start:</label>
                    <input type="time" class="form-control normal-hours-start">
                    <label for="normal-hours-end" class="col-form-label">Normal Hours End:</label>
                    <input type="time" class="form-control normal-hours-end">
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <label for="job-description" class="col-form-label">Job Description:</label>
                    <input type="text" class="form-control job-description" maxlength="50">
                </div>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input active" type="checkbox" value="">
                <label class="form-check-label" for="">
                    Job Active
                </label>
            </div>
            <div class="form-group row">
                <label class="col-4">Checkboxes</label>
                <div class="col-8">
                    <div class="custom-control custom-checkbox custom-control-inline">
                        <input name="checkbox" id="checkbox_0" type="checkbox" checked="checked"
                               class="custom-control-input" value="rabbit">
                        <label for="checkbox_0" class="custom-control-label">Rabbit</label>
                    </div>
                </div>
            </div>
        </div>*@
                    <div class="form-group row">
                        <label for="job-id" class="col-sm-3 col-form-label">Job ID</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control job-id" maxlength="10">
                        </div>
                        <div class="col-sm-6">
                            <div class="form-check">
                                <input class="form-check-input job-active" type="checkbox" id="">
                                <label class="form-check-label" for="job-active">
                                    Job Active
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="customer-code" class="col-sm-3 col-form-label">Customer Code</label>
                        <div class="col-sm-3">
                            <select class="customer-code" id="customer-code-new">
                                <option value="AL">Alabama</option>
                                <option value="WY">Wyoming</option>
                            </select>
                        </div>
                        <label for="normal-hours-start" class="col-sm-3 col-form-label">Normal Hours Start</label>
                        <div class="col-sm-3">
                            <input type="time" class="form-control normal-hours-start">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="customer-name" class="col-sm-3 col-form-label">Customer Name</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control customer-name" id="customer-name-new" maxlength="50" disabled value="">
                        </div>
                        <label for="normal-hours-end" class="col-sm-3 col-form-label">Normal Hours End</label>
                        <div class="col-sm-3">
                            <input type="time" class="form-control normal-hours-end" id="">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="customer-location" class="col-sm-3 col-form-label">Customer Location</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control customer-location" id="customer-location-new" maxlength="50" disabled value="">
                        </div>
                        <label for="normal-hours-daily" class="col-sm-3 col-form-label">Normal Hours Daily</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control normal-hours-daily" id="" maxlength="2" value="8">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="customer-contact" class="col-sm-3 col-form-label">Customer Contact</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control customer-contact" maxlength="50">
                        </div>
                        <div class="col-sm-6">
                            <div class="form-check">
                                <input class="form-check-input double-time-hours" type="checkbox" id="">
                                <label class="form-check-label" for="double-time-hours">
                                    Double Time Hours
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="job-description" class="col-sm-3 col-form-label">Job Description</label>
                        <div class="col-sm-9">
                            <textarea class="form-control job-description" id="" rows="3"></textarea>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="sub-job-types" class="col-sm-2 col-form-label">Sub Job Types</label>
                        <div class="col-sm-3">
                            <div class="table-responsive">
                                <table id="dt_customerData" class="table table-striped table-bordered" style="width:100%; height: 5%">
                                    <thead>
                                        <tr>
                                            <th class="">
                                                Sub-job Type
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="form-check">
                                                    <input class="form-check-input double-time-hours" type="checkbox" id="">
                                                    <label class="form-check-label" for="double-time-hours">
                                                        Double Time Hours
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="form-check">
                                                    <input class="form-check-input double-time-hours" type="checkbox" id="">
                                                    <label class="form-check-label" for="double-time-hours">
                                                        Double Time Hours
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="form-check">
                                                    <input class="form-check-input double-time-hours" type="checkbox" id="">
                                                    <label class="form-check-label" for="double-time-hours">
                                                        Double Time Hours
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="form-check">
                                                    <input class="form-check-input double-time-hours" type="checkbox" id="">
                                                    <label class="form-check-label" for="double-time-hours">
                                                        Double Time Hours
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="form-check">
                                                    <input class="form-check-input double-time-hours" type="checkbox" id="">
                                                    <label class="form-check-label" for="double-time-hours">
                                                        Double Time Hours
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <label for="sub-job-types" class="col-sm-2 col-form-label">Job Resources</label>
                        <div class="col-sm-5">
                            <div class="table-responsive">
                                <table id="dt_customerData" class="table table-striped table-bordered" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th class="">
                                                Resource Type
                                            </th>
                                            <th class="">
                                                Resource
                                            </th>
                                            <th class="">
                                                Rate
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                CE
                                            </td>
                                            <td>
                                                Controls Engineer
                                            </td>
                                            <td>
                                                Rate
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="submit" class="btn jobNewForm btn_save" value="">Save</button>
                <button type="button" class="btn btn_cancel" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
@*END NEW CUSTOMER MODAL TEMPLATE*@
@*END CUSTOMER SECTION*@

<div class="container">
    <form>
        <div class="form-group row">
            <label for="job-id" class="col-sm-2 col-form-label">Job ID</label>
            <div class="col-sm-4">
                <input type="text" class="form-control job-id" maxlength="10">
            </div>
            <div class="col-sm-6">
                <div class="form-check">
                    <input class="form-check-input job-active" type="checkbox" id="">
                    <label class="form-check-label" for="job-active">
                        Job Active
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="customer-code" class="col-sm-2 col-form-label">Customer Code</label>
            <div class="col-sm-4">
                <select class="customer-code" id="customer-code-new">
                    <option value="AL">Alabama</option>
                    <option value="WY">Wyoming</option>
                </select>
            </div>
            <label for="normal-hours-start" class="col-sm-2 col-form-label">Normal Hours Start</label>
            <div class="col-sm-4">
                <input type="time" class="form-control normal-hours-start">
            </div>
        </div>
        <div class="form-group row">
            <label for="customer-name" class="col-sm-2 col-form-label">Customer Name</label>
            <div class="col-sm-4">
                <input type="text" class="form-control customer-name" id="customer-name-new" maxlength="50" disabled value="">
            </div>
            <label for="normal-hours-end" class="col-sm-2 col-form-label">Normal Hours End</label>
            <div class="col-sm-4">
                <input type="time" class="form-control normal-hours-end" id="">
            </div>
        </div>
        <div class="form-group row">
            <label for="customer-location" class="col-sm-2 col-form-label">Customer Location</label>
            <div class="col-sm-4">
                <input type="text" class="form-control customer-location" id="customer-location-new" maxlength="50" disabled value="">
            </div>
            <label for="normal-hours-daily" class="col-sm-2 col-form-label">Normal Hours Daily</label>
            <div class="col-sm-4">
                <input type="text" class="form-control normal-hours-daily" id="" maxlength="2" value="8">
            </div>
        </div>
        <div class="form-group row">
            <label for="customer-contact" class="col-sm-2 col-form-label">Customer Contact</label>
            <div class="col-sm-4">
                <input type="text" class="form-control customer-contact" maxlength="50">
            </div>
            <div class="col-sm-6">
                <div class="form-check">
                    <input class="form-check-input double-time-hours" type="checkbox" id="">
                    <label class="form-check-label" for="double-time-hours">
                        Double Time Hours
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="job-description" class="col-sm-2 col-form-label">Job Description</label>
            <div class="col-sm-10">
                <textarea class="form-control job-description" id="" rows="3"></textarea>
            </div>
        </div>
</form>
</div>

<div class="container" id="table_test">
    <form>
        <div class="form-group row">
            <label for="sub-job-types" class="col-sm-2 col-form-label">Sub Job Types</label>
            <div class="col-sm-3">
                <div class="table-responsive">
                    <table id="dt_customerData" class="table table-striped table-bordered" style="width:100%; height: 5%">
                        <thead>
                            <tr>
                                <th class="">
                                    Sub-job Type
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="form-check">
                                        <input class="form-check-input double-time-hours" type="checkbox" id="">
                                        <label class="form-check-label" for="double-time-hours">
                                            Double Time Hours
                                        </label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-check">
                                        <input class="form-check-input double-time-hours" type="checkbox" id="">
                                        <label class="form-check-label" for="double-time-hours">
                                            Double Time Hours
                                        </label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-check">
                                        <input class="form-check-input double-time-hours" type="checkbox" id="">
                                        <label class="form-check-label" for="double-time-hours">
                                            Double Time Hours
                                        </label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-check">
                                        <input class="form-check-input double-time-hours" type="checkbox" id="">
                                        <label class="form-check-label" for="double-time-hours">
                                            Double Time Hours
                                        </label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-check">
                                        <input class="form-check-input double-time-hours" type="checkbox" id="">
                                        <label class="form-check-label" for="double-time-hours">
                                            Double Time Hours
                                        </label>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <label for="sub-job-types" class="col-sm-2 col-form-label">Job Resources</label>
            <div class="col-sm-5">
                <div class="table-responsive">
                    <table id="dt_customerData" class="table table-striped table-bordered" style="width:100%">
                        <thead>
                            <tr>
                                <th class="">
                                    Resource Type
                                </th>
                                <th class="">
                                    Resource
                                </th>
                                <th class="">
                                    Rate
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    CE
                                </td>
                                <td>
                                    Controls Engineer
                                </td>
                                <td>
                                    Rate
                                </td>
                            </tr>                           
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="container" id="table_div">
    <table border=1>
        <tr>
            <td rowspan="2">
                This is 1st row 1st column
            </td>
            <td>
                2
            </td>
        </tr>
        <tr>
            <td>
                This is 2nd row 1st column
            </td>
        </tr>
        <tr>
            <td rowspan="2">
                This is 1st row 1st column
            </td>
            <td>
                2
            </td>
        </tr>
        <tr>
            <td>
                This is 2nd row 1st column
            </td>
        </tr>
        <tr>
            <td rowspan="2">
                This is 1st row 1st column
            </td>
            <td>
                2
            </td>
        </tr>
        <tr>
            <td>
                This is 2nd row 1st column
            </td>
        </tr>
        <tr>
            <td rowspan="2">
                This is 1st row 1st column
            </td>
            <td>
                2
            </td>
        </tr>
        <tr>
            <td>
                This is 2nd row 1st column
            </td>
        </tr>
        <tr>
            <td rowspan="2">
                This is 1st row 1st column
            </td>
            <td>
                2
            </td>
        </tr>
        <tr>
            <td>
                This is 2nd row 1st column
            </td>
        </tr>
        <tr>
            <td rowspan="2">
                This is 1st row 1st column
            </td>
            <td>
                2
            </td>
        </tr>
        <tr>
            <td>
                This is 2nd row 1st column
            </td>
        </tr>
    </table>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
