@model IEnumerable<allpax_service_record.Models.tbl_customers>
@{
    ViewBag.Title = "Customers";
}

<head>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/underscore@1.11.0/underscore-min.js"></script>

    <style>
       
        /*AN INVISIBLE HORIZONTAL SPACE*/
        .sectionSeparator {
            margin: 1px;
            opacity: 0;
        }

        table {
            table-layout: auto !important;
        }

        thead th, tbody td, tfoot td, tfoot th {
            /*width: auto !important;*/
            white-space: nowrap;
        }

        th.th_customerCode, th.th_location, th.th_action {
            width: 15%;
        }

        th.th_customerName {
            width: 30%;
        }

        #customerData_container {
            position: relative;
            width: 60%;
            margin: 0 auto;
            height: calc(100vh - 150px);
            overflow: auto;
        }

        /*BEGIN CHANGE LAYOUT FOR MOBILE*/
        @@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {

            #customerData_container {
                width: 100%;
            }

            /* Force table to not be like tables anymore */
            table, thead, tbody, th, td, tr {
                display: block;
            }

                /* Hide table headers (but not display: none;, for accessibility) */
                thead tr {
                    position: absolute;
                    top: -9999px;
                    left: -9999px;
                }

            tr {
                border: 1px solid #ccc;
            }

            td {
                /* Behave  like a "row" */
                border: none;
                border-bottom: 1px solid #eee;
                position: relative;
                padding-left: 50%;
            }

                td:before {
                    /* Now like a table header */
                    position: absolute;
                    /* Top/left values mimic padding */
                    top: 6px;
                    left: 6px;
                    width: 45%;
                    padding-right: 10px;
                    white-space: nowrap;
                }
            /*END CHANGE LAYOUT FOR MOBILE*/
        }
    </style>
    <script>
        $(document).ready(function () {//begin document read jquery statements

            //////////////////BEGIN THE COMMON NEW CUSTOMER AND EDIT CUSTOMER MODAL SECTION

            $('.customer-code').keyup(function () {
                $(this).val($(this).val().toUpperCase());
            });

            //////////////////END THE COMMON NEW CUSTOMER AND EDIT CUSTOMER MODAL SECTION

            //////////////////BEGIN THE NEW CUSTOMER MODAL SECTION

            //reset the new job modal for new inputs
            function fn_resetModalForm(modalID) {

                var allTextInputs = $(modalID).find("input:text");

                $(allTextInputs).val('');//reset text boxes
            }

            $('#customerNewForm').on('show.bs.modal', function (event) {

                fn_resetModalForm("#customerNewForm");//reset the modal for new inputs
            })

            $(".customerNewForm.btn_save").click(function () {

                if (fn_modalValidate($(this))) {

                    var modal = $(this).parent().parent();
                    var temp_customerCode = modal.find('.customer-code').val()
                    var temp_customerName = modal.find('.customer-name').val()
                    var temp_address = modal.find('.address').val()

                    var data = {
                        customerCode: temp_customerCode,
                        customerName: temp_customerName,
                        address: temp_address
                    };

                    fn_showSpinner();

                    $.ajax({
                        url: '/Customers/AddCustomer',
                        method: 'post',
                        contentType: 'application/json',
                        dataType: 'json',
                        data: JSON.stringify(data),
                        traditional: true,
                        success: function (response) {
                            window.location.href = response;
                        },
                        error: function (response) {
                            fn_hideSpinner();
                            var alertContent = "An error has occurred.";
                            $.alert({
                                title: 'Alert!',
                                content: alertContent,
                            });
                        }
                    });
                }
            });

            //////////////////END THE NEW CUSTOMER MODAL SECTION

            //////////////////BEGIN THE EDIT CUSTOMER MODAL SECTION

            $('#customerEditForm').on('show.bs.modal', function (event) {

                var button = $(event.relatedTarget) // Button that triggered the modal
                var temp_customerCode = button.data('customer-code') // Extract info from data-* attributes
                var temp_customerName = button.data('customer-name') // Extract info from data-* attributes
                var temp_address = button.data('address') // Extract info from data-* attributes
                var temp_id = button.data('id') // Extract info from data-* attributes

                var modal = $(this)
                modal.find('.modal-title').text('Customer Edit Form')
                modal.find('.customer-code').val(temp_customerCode)
                modal.find('.customer-name').val(temp_customerName)
                modal.find('.address').val(temp_address)
                modal.find('.id').val(temp_id)
            })

            $(".customerEditForm.btn_save").click(function () {

                if (fn_modalValidate($(this))) {

                    var modal = $(this).parent().parent();
                    var temp_customerCode = modal.find('.customer-code').val()
                    var temp_customerName = modal.find('.customer-name').val()
                    var temp_address = modal.find('.address').val()
                    var temp_id = modal.find('.id').val()

                    var data = {
                        customerCode: temp_customerCode,
                        customerName: temp_customerName,
                        address: temp_address,
                        id: temp_id
                    };

                    fn_showSpinner();

                    $.ajax({
                        url: '/Customers/UpdateCustomer',
                        method: 'post',
                        contentType: 'application/json',
                        dataType: 'json',
                        data: JSON.stringify(data),
                        traditional: true,
                        success: function (response) {
                            window.location.href = response;
                        },
                        error: function (response) {
                            fn_hideSpinner();
                            var alertContent = "An error has occurred.";
                            $.alert({
                                title: 'Alert!',
                                content: alertContent,
                            });
                        }
                    });
                }
            });

            $(".customerEditForm.btn_delete").click(function () {

                var modal = $(this).parent().parent().parent();
                var temp_customerCode = modal.find('.customer-code').val()
                var temp_customerName = modal.find('.customer-name').val()

                var data = {
                    customerCode: temp_customerCode,
                };

                $.confirm({
                    title: 'Delete Customer ' + temp_customerName + ': ' + temp_customerCode + '?',
                    content: '',
                    buttons: {
                        confirm: function () {
                            fn_showSpinner();
                            $.ajax({
                                url: '/Customers/DeleteCustomer',
                                method: 'post',
                                contentType: 'application/json',
                                dataType: 'json',
                                data: JSON.stringify(data),
                                traditional: true,
                                success: function (response) {
                                    window.location.href = response;
                                },
                                error: function (response) {
                                    fn_hideSpinner();
                                    var alertContent = "An error has occurred.";
                                    $.alert({
                                        title: 'Alert!',
                                        content: alertContent,
                                    });
                                }
                            });
                        },
                        cancel: function () {
                        }
                    }
                });
            });

            //////////////////END THE EDIT CUSTOMER MODAL SECTION

            //////////////////BEGIN RETURNED RECORDS SECTION

            $(".returnedRecords .Btn_delete").click(function () {

                var currentRow = $(this).parent().parent();
                var temp_customerCode = currentRow.find('.customerCode_div').html()
                var temp_customerName = currentRow.find('.customerName_div').html()

                var data = {
                    customerCode: temp_customerCode,
                };

                $.confirm({
                    title: 'Delete Customer ' + temp_customerName + ': ' + temp_customerCode + '?',
                    content: '',
                    buttons: {
                        confirm: function () {
                            fn_showSpinner();
                            $.ajax({
                                url: '/Customers/DeleteCustomer',
                                method: 'post',
                                contentType: 'application/json',
                                dataType: 'json',
                                data: JSON.stringify(data),
                                traditional: true,
                                success: function (response) {
                                    window.location.href = response;
                                },
                                error: function (response) {
                                    fn_hideSpinner();
                                    var alertContent = "An error has occurred.";
                                    $.alert({
                                        title: 'Alert!',
                                        content: alertContent,
                                    });
                                }
                            });
                        },
                        cancel: function () {
                        }
                    }
                });;
            });

            //////////////////END RETURNED RECORDS SECTION

            //////////////////BEGIN MISCELLANEOUS SECTION

            function fn_showSpinner() {
                $.LoadingOverlay("show", {
                    image: "",
                    fontawesome: "fa fa-cog fa-spin"
                });
            }

            function fn_hideSpinner() {
                $.LoadingOverlay("hide");
            }

            function fn_modalValidate(button) {
                var currentRow = button.parent().parent();
                var modalValid = true;
                var temp_customerCode = currentRow.find(".customer-code").val();
                var temp_customerName = currentRow.find(".customer-name").val();
                var temp_address = currentRow.find(".address").val();

                var temp_customerCodeMatch = temp_customerCode.match(/^([A-Z]{3})$/);//maches the form ABC
                //var temp_addressMatch = temp_address.match(/([A-Za-z ]+), ([A-Za-z]{2}$)/);//maches the form LAS VEGAS, NV

                if (!temp_customerCodeMatch) {
                    $.alert({
                        title: 'Error!',
                        content: 'Customer code must be at least 3 letters.',
                    });
                    modalValid = false;
                    return modalValid;
                }

                if (temp_customerName.length < 1) {
                    $.alert({
                        title: 'Error!',
                        content: 'Customer name must not be empty.',
                    });
                    modalValid = false;
                    return modalValid;
                }

                if (temp_address < 1) {
                    $.alert({
                        title: 'Error!',
                        content: 'Location must not be empty.',
                    });
                    modalValid = false;
                    return modalValid;
                }
                return modalValid;
            }

            //////////////////END MISCELLANEOUS SECTION
           
        });//end document read jquery statements
    </script>
</head>

@*BEGIN CUSTOMER SECTION*@
<hr class="sectionSeparator">
<div class="col-12" style="padding:0px;">
    <span><strong>Add a New Customer</strong></span>
    <span>
        <button class="btn btn-light btn-sm" data-toggle="modal" data-target="#customerNewForm">
            <i class="far fa-plus-square fa-2x" style="color:black;"></i>
        </button>
    </span>
</div>
<hr class="sectionSeparator">
<div class="" id="customerData_container">
    <div class="table-responsive">
        <table id="dt_customerData" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th class="th_customerCode">
                        <span>Customer Code</span>
                    </th>
                    <th class="th_customerName">
                        Customer Name
                    </th>
                    <th class="th_location">
                        Location
                    </th>
                    <th class="th_action">
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
                @*BEGIN RETURNED RECORDS*@
                @foreach (var item in Model)
                {
                    //BEGIN TEMPORARY LOOP VARIABLES
                    string temp_customerCode = item.customerCode;
                    string temp_customerName = item.customerName;
                    string temp_address = item.address;
                    int temp_id = item.id;
                    //END TEMPORARY LOOP VARIABLES

                    <tr class="returnedRecords" id="" style="">
                        <td class="customerCode_div">@temp_customerCode</td>
                        <td class="customerName_div">@temp_customerName</td>
                        <td class="address_div">@temp_address</td>
                        <td class="id_div" hidden>@temp_id</td>
                        <td class="button_div" style="padding:0px;">
                            <button class="btn btn-light btn-sm Btn_edit" data-toggle="modal" data-target="#customerEditForm" data-customer-code="@temp_customerCode"
                                    data-customer-name="@temp_customerName" data-address="@temp_address" data-id="@temp_id">
                                <i class="far fa-edit fa-2x" style="color:black;">
                                </i>
                            </button>
                            <button class="btn btn-light btn-sm Btn_delete"><i class="far fa-minus-square fa-2x" style="color: black;"></i></button>
                        </td>
                    </tr>
                }
                @*END RETURNED RECORDS*@
            </tbody>
        </table>
    </div>
</div>
    @*BEGIN EDIT CUSTOMER MODAL TEMPLATE*@
    <div class="modal fade" id="customerEditForm" tabindex="-1" role="dialog" aria-labelledby="customerEditForm" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="float-left">
                        <h5 class="modal-title" id="customerEditForm">Edit Customer</h5>
                    </div>
                    <div class="float-none">
                        <button type="button" class="btn btn-light btn-sm customerEditForm" data-toggle="modal" data-target="#customerNewForm"><i class="far fa-plus-square fa-2x" style="color:black;"></i></button>
                        <button type="button" class="btn btn-light btn-sm customerEditForm btn_delete"><i class="far fa-minus-square fa-2x" style="color: black;"></i></button>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="validation-summary-valid text-danger" data-valmsg-summary="true">
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-6">
                                    <label for="customer-code" class="col-form-label">Customer Code:</label>
                                    <input type="text" class="form-control customer-code" maxlength="3">
                                </div>
                                <div class="col-6">
                                    <label for="customer-name" class="col-form-label">Customer Name:</label>
                                    <input type="text" class="form-control customer-name" maxlength="50">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <label for="address" class="col-form-label">Location:</label>
                                    <input type="text" class="form-control address" maxlength="50">
                                    <label for="id" class="col-form-label" hidden>Table ID:</label>
                                    <input type="text" class="form-control id" hidden>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn customerEditForm btn_save" value="">Save</button>
                    <button type="button" class="btn btn_cancel" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    @*END EDIT CUSTOMER MODAL TEMPLATE*@

    @*BEGIN NEW CUSTOMER MODAL TEMPLATE*@
    <div class="modal fade" id="customerNewForm" tabindex="-1" role="dialog" aria-labelledby="customerNewForm" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="customerNewForm">Add Customer</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-6">
                                    <label for="customer-code" class="col-form-label">Customer Code:</label>
                                    <input type="text" class="form-control customer-code" maxlength="3">
                                </div>
                                <div class="col-6">
                                    <label for="customer-name" class="col-form-label">Customer Name:</label>
                                    <input type="text" class="form-control customer-name" maxlength="50">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <label for="address" class="col-form-label">Location:</label>
                                    <input type="text" class="form-control address" maxlength="50">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn customerNewForm btn_save" value="">Save</button>
                    <button type="button" class="btn btn_cancel" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    @*END NEW CUSTOMER MODAL TEMPLATE*@
@*END CUSTOMER SECTION*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
